{% load static %}
<!DOCTYPE html>
<html lang="en" >
<Head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset=utf8>
        <link rel="stylesheet" href="{% static '/Artical/CSS/index.css' %}">
		<link rel="stylesheet" href="{% static '/Artical/CSS/Reset.css' %}">
		<title>Главная страница</title>
</Head>
<body style="background-image: url('{% static '/Artical/jpeg/665f2k.png' %}'); background-repeat: no-repeat; background-attachment: fixed; background-size:cover; background-position: center center;">
	<header>
		<div class="block_bottom_header">
			<div class="Rait">
				<a href="/" class="logo">
					<img src="{% static '/Artical/jpeg/logo.jpg' %}" alt="">
				</a>
				<h2 class="slogan">Интернет-магазин </h2>
			</div>
					<nav>
					<ul id ="menu_list" style="overflow: visible;">
					{% if user.is_staff %}
					<li>
						<a href="{% url 'issue' %}">Выдача заказов</a>
					</li>
					{% endif %}
					<li>
						<a href="{% url 'About company' %}">О компании</a>
					</li>
					<li>
						<a href="{% url 'List' %}">Каталог</a>
					</li>
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'Orders' %}">Заказы</a>
					</li>
					{% endif %}
					<li>
						<a href="{% url 'baskK' %}">Корзина</a>
					</li>
					<li>
						{% if user.is_authenticated %}
						<p><a href="{% url 'logout' %}">Выйти</a></p>
						{% else %}
						<a href="{% url 'login' %}">Войти</a>
						{% endif %}
					</li>
					{% if user.is_authenticated %}
					<li>
						<p class="TextOut">Имя пользователя</p>
						<p class="TextOutUser">{{ user.username }}</p>
					</li>
					{% endif %}
					</li>
					</ul>
				</div>
			<div>
		</div>
	</header>

	<div class="Fone">
		<div class="Form">
			<div class="block_menu">
				<div style="display: grid; text-align: center;">
					<a href="{% url 'GRM' %}">
						<picture>
							<source media="max-width:1000px" srcset="">
							<img src="{% static '/Artical/jpeg/Ремень ГРМ.jpg' %} " class="Menu_img" alt="">
						</picture>
					</a>
					<a href="{% url 'GRM' %}">Ремень ГРМ</a>
				</div>
				<div style="display: grid; text-align: center;">
					<a href="{% url 'spark_plug' %}">
						<img src="{% static '/Artical/jpeg/Свеча зажигания.jpg' %}" class="Menu_img" alt="">
					</a>
					<a href="{% url 'spark_plug' %}">Свеча зажигания</a>
				</div>
				<div style="display: grid; text-align: center;">
					<a href="{% url 'Air_filter' %}">
						<img src="{% static '/Artical/jpeg/Воздушный фильтор.jpeg' %}" class="Menu_img" alt="">
					</a>
					<a href="{% url 'Air_filter' %}">Воздушный фильтр</a>
				</div>
				<div style="display: grid; text-align: center;">
					<a href="{% url 'Fuel_tank' %}">
						<img src="{% static '/Artical/jpeg/Топлевный бак.jpg' %}" class="Menu_img" alt="">
					</a>
					<a href="{% url 'Fuel_tank' %}">Топливные баки</a>
				</div>
				<div style="display: grid; text-align: center;">
					<a href="{% url 'Oil_filter' %}">
						<img src="{% static '/Artical/jpeg/Масляный фильтр.jpg' %}" class="Menu_img" alt="">
					</a>
					<a href="{% url 'Oil_filter' %}">Масляный фильтр</a>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div>
			<a href="/" class="logo">
				<img src="{% static '/Artical/jpeg/logo.jpg' %}" alt="">
			</a>
			<h4>"Название организации"</h4>
			<div class="Help">
				<a href="{% static 'Справочная система пользователя.pdf' %}">Помощь</a>
			</div>
		</div>
	</footer>
</body>
</html>