{% load static %}
<!DOCTYPE html>
<html lang="en">
    <Head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset=utf8>
        <link rel="stylesheet" href="{% static '/Regis/CSS/RegcssA.css' %}">
        <link rel="stylesheet" href="{% static '/Artical/CSS/Reset.css' %}">
		<title>Регистрация</title>
</Head>
    <body style="background-image: url('{% static '/Artical/jpeg/665f2k.png' %}'); background-repeat: no-repeat; background-attachment: fixed; background-size:cover; background-position: center center;">
        <header>
            <div class="block_bottom_header">
                <div class="Rait">
                    <a href="/" class="logo">
                        <img src="{% static '/Artical/jpeg/logo.jpg' %}" alt="">
                    </a>
                    <h2 class="slogan">Интернет-магазин автомобильных запчастей</h2>
                </div>
                        <nav>
                        <ul id ="menu_list" style="overflow: visible;">
                        <li>
                            <a href="{% url 'About company' %}">О компании</a>
                        </li>
                        <li>
                            <a href="{% url 'List' %}">Каталог</a>
                        </li>
                        <li>
                            <a href="{% url 'baskK' %}">Корзина</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Войти</a>
                        </li>
                        </ul>
                    </div>
                <div>
            </div>
        </header>
        
        <div class="Font">
            <div class="Form">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button">
                    <button class="button" type="submit">Зарегистрироваться</button>
                </div>
              </form>
            </div>
        </div>

    </body>
    <footer>
        <div>
            <a href="/" class="logo">
                <img src="{% static '/Artical/jpeg/logo.jpg' %}" alt="">
            </a>
            <h4>Название организации</h4>
            <div class="Help">
				<a href="{% static 'Справочная система пользователья.pdf' %}">Помощь</a>
			</div>
        </div>
    </footer>
</html>